@import "tailwindcss";

@import "../../node_modules/@heroui/styles/dist/index.css";

@custom-variant dark (&:is(.dark *));

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(52.92% 0.1931 262.13);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0 262.13);
  --border: oklch(90% 0 262.13);
  --danger: oklch(65.32% 0.2328 26.74);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0 262.13);
  --default-foreground: oklch(21.03% 0.0059 262.13);
  --field-background: oklch(100% 0 262.13);
  --field-foreground: oklch(21.03% 0 262.13);
  --field-placeholder: oklch(55.17% 0 262.13);
  --focus: oklch(52.92% 0.1931 262.13);
  --foreground: oklch(21.03% 0 262.13);
  --muted: oklch(55.17% 0 262.13);
  --overlay: oklch(100% 0 262.13);
  --overlay-foreground: oklch(21.03% 0 262.13);
  --scrollbar: oklch(87.1% 0 262.13);
  --segment: oklch(100% 0 262.13);
  --segment-foreground: oklch(21.03% 0 262.13);
  --separator: oklch(92% 0 262.13);
  --success: oklch(73.29% 0.1935 151.81);
  --success-foreground: oklch(21.03% 0.0059 151.81);
  --surface: oklch(100% 0 262.13);
  --surface-foreground: oklch(21.03% 0 262.13);
  --surface-secondary: oklch(95.24% 0 262.13);
  --surface-secondary-foreground: oklch(21.03% 0 262.13);
  --surface-tertiary: oklch(93.73% 0 262.13);
  --surface-tertiary-foreground: oklch(21.03% 0 262.13);
  --warning: oklch(78.19% 0.1585 73.33);
  --warning-foreground: oklch(21.03% 0.0059 73.33);
  --chart-1: #0369a1;
  --chart-2: #0284c7;
  --chart-3: #0ea5e9;
  --chart-4: #7dd3fc;
  --chart-5: #e0f2fe;

  --field-radius: 0.75rem;

  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: oklch(52.92% 0.1931 262.13);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0 262.13);
  --border: oklch(28% 0 262.13);
  --danger: oklch(59.4% 0.1967 25.63);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0 262.13);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0 262.13);
  --field-foreground: oklch(99.11% 0 262.13);
  --field-placeholder: oklch(70.5% 0 262.13);
  --focus: oklch(52.92% 0.1931 262.13);
  --foreground: oklch(99.11% 0 262.13);
  --muted: oklch(70.5% 0 262.13);
  --overlay: oklch(21.03% 0 262.13);
  --overlay-foreground: oklch(99.11% 0 262.13);
  --scrollbar: oklch(70.5% 0 262.13);
  --segment: oklch(39.64% 0 262.13);
  --segment-foreground: oklch(99.11% 0 262.13);
  --separator: oklch(25% 0 262.13);
  --success: oklch(73.29% 0.1935 151.81);
  --success-foreground: oklch(21.03% 0.0059 151.81);
  --surface: oklch(21.03% 0 262.13);
  --surface-foreground: oklch(99.11% 0 262.13);
  --surface-secondary: oklch(25.7% 0 262.13);
  --surface-secondary-foreground: oklch(99.11% 0 262.13);
  --surface-tertiary: oklch(27.21% 0 262.13);
  --surface-tertiary-foreground: oklch(99.11% 0 262.13);
  --warning: oklch(82.03% 0.1388 77.34);
  --warning-foreground: oklch(21.03% 0.0059 77.34);
}

body {
  font-family: "Inter", sans-serif;
}
